* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    
}
body {
    background-color: hsl(31, 43%, 90%);
   
}
main {
    width: 50%;
    height: 450px;
    position: relative;
    top: 200px;
    left: 25%;
    background-color:  hsl(0, 0%, 100%);
    border-radius: 15px;

}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
}
.mobile-view {
    display: none;
}
.product-image {
    width: 300px;
    float: left;
    height: 450px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
   
}
.body-text {
    padding-top: 15px;
    padding-left: 30px;
    text-align: left;
    font-family: "Fraunces", Montserrat;
} 

.perfume {
    margin-top: 10px;
    letter-spacing: 6px;
    color: hsl(36, 2%, 56%);
    font-weight: 600;
    font-size: 11px;
    margin-left: 5px;
    

}
#perfum {
    font-size: 35px;
    font-weight: 700;
    margin-top: 20px;
    margin-right: 35px;
    padding-right: 40px;
    color: hsl(212, 21%, 14%);
}
.floral {
    font-size: 14px;
    font-weight: 500;
    color:  hsl(228, 12%, 48%);
    margin-right: 40px;
    margin-top: 20px;
    padding-right: 10px;
    word-spacing: 5px;
    line-height: 20px;
    font-family: 'Fraunces', Montserrat;
}
.price {
    margin-top: 25px;
    font-family: 'Fraunces', Montserrat;
}
.first {
    font-size: 35px;
    font-weight: 700;
    color: hsl(158, 36%, 37%);
}
.second {
    position: relative;
    left: 150px;
    top: -30px;
    font-size: 14px;
    font-weight: 500;
    color: hsl(228, 12%, 48%);
}
.cart {
    width: 90%;
    background-color: hsl(158, 36%, 37%);
    border-radius: 10px;

}
.cart:hover {
    background-color: hsl(152, 64%, 11%);
}
.add {
    text-align: center;
    position: relative;
    top: -10px;
    left: 15px;
    color: hsl(0, 0%, 100%);
    font-size: 15px;
    font-weight: 500;
    font-family: 'Fraunces', Montserrat;;
}
.icon {
    position: relative;
    top: 10px;
    left: 80px;
    
}
/* Extra small devices (phone, 600px and down)  */
@media only screen  and (max-width: 600px) {
    .card-body {
        padding: 2rem;
    }
    body {
        background-color: hsl(31, 43%, 90%);
       /* min-height: 100vh;
        max-width: 700px;*/
    }
    main {
        height: 630px;
        width: 90%;
        background-color:  hsl(0, 0%, 100%);
        border-radius: 15px;
        position: relative;
        top: 30px;
        display: flex;
        justify-items: center;
        align-items: center;
        margin-top: 20px;
      /*  max-width: 400px; */
      /*  max-height: 630px; */    
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        top: -50px;

    }
    .mobile-view {
        display: block;
        width: auto ;
        height: 250px;
        position: relative;
        top: -3px;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
       
    }
    .product-image {
        display: none;
    }
}